# 1. Data Exploration

In [21]:
import sys
sys.path.append('../src')

import pandas as pd
from src.data_processing.load_data import load_csv_data
import yaml
import os

In [22]:
with open('../config.yaml', 'r') as f:
    config = yaml.safe_load(f)

In [23]:
data_path = os.path.join('..', config['data']['raw']['building_x'])
try:
    building_x_df = load_csv_data(data_path)
    print("Building_X.csv loaded successfully.")
    display(building_x_df.head())
except FileNotFoundError:
    print(f"Building_X.csv not found at {data_path}. Please add it to the data/raw directory.")

Building_X.csv loaded successfully.

,record_timestamp,CHR-01-KW,CHR-01-CHWSWT,CHR-01-CHWRWT,CHR-01-CHWFWR,CHR-02-KW,CHR-02-CHWSWT,CHR-02-CHWRWT,CHR-02-CHWFWR,CHR-03-KW,CHR-03-CHWSWT,CHR-03-CHWRWT,CHR-03-CHWFWR
0,1/1/2023 0:00,0.0,12.2,11.8,0.0,8.8773,7.1,8.4,7.20833,0.00000,11.1,12.5,0.00000
1,1/1/2023 0:15,0.0,12.2,11.7,0.0,0.0000,8.8,9.0,0.00000,0.00000,11.1,12.3,0.00000
2,1/1/2023 0:30,0.0,12.2,11.7,0.0,0.0000,9.0,9.2,0.00000,20.39060,8.4,11.2,7.38056
3,1/1/2023 0:45,0.0,12.2,11.7,0.0,0.0000,9.2,9.2,0.00000,5.89547,7.4,8.2,7.06389
4,1/1/2023 1:00,0.0,12.1,11.6,0.0,0.0000,9.2,9.3,0.00000,7.84033,7.5,8.7,7.05833

In [24]:
test_path = os.path.join('..', config['data']['raw']['test'])
try:
    test_df = load_csv_data(test_path)
    print("test.csv loaded successfully.")
    display(test_df.head())
except FileNotFoundError:
    print(f"test.csv not found at {test_path}. Please add it to the data/raw directory.")

test.csv loaded successfully.

  prediction_time  predicted_load
0   1/1/2024 0:00             NaN
1   1/1/2024 1:00             NaN
2   1/1/2024 2:00             NaN
3   1/1/2024 3:00             NaN
4   1/1/2024 4:00             NaN